<%= form_with(model: [empresa, itdcon]) do |form| %>
  <% if itdcon.errors.any? %>
    <div>
      <h2><%= pluralize(itdcon.errors.count, "error") %>, necesitas llenar los siguientes campos: </h2>

      <ul>
        <% itdcon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega los miembros participantes de la medición</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class = "container">
            <div class= "main">
              <%= form.check_box current_user.id %>
              <%= form.label "#{current_user.name} (Tu)"%> <br />
              <%participants.each do |participant|%>
                <div>
                  <%if participant != current_user%>
                    <%= form.check_box participant.id %>
                    <%= form.label participant.name %> <br />
                  <%end%>
                </div>
              <%end%>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="submit" value="Submit" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

