<div class = "container-fluid">
  <div class="main">
  <div class="row">

  <%= render partial: "form", locals: {empresa: @empresa, itdcon: @empresa.itdcons.build}%>
      

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="shadow p-3 mb-5 bg-white rounded">
              <h4> ITDs Históricos </h4>
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo ITD
              </button>
                 <% itds = @empresa.itdcons.all %>
                 <% idcol = "id=flush-collapse" %>
                 <% fechas = [" 15/10/2022"," 29/10/2022", " 23/11/2022"] %>
 
              <div class="accordion accordion-flush" id="accordionFlushExample">

                    <% itds.each_with_index do |itd, index| %>
                    <% num = (index).to_s %> 
                    <% @str = idcol + (index).humanize.capitalize + ' class="accordion-collapse collapse" aria-labelledby="flush-heading' + num + '" data-bs-parent="#accordionFlushExample"' %>

                
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading<%= sanitize (index).humanize.capitalize %> ">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= sanitize (index).humanize.capitalize %>" aria-expanded="false" aria-controls="flush-collapse<%= sanitize (index).humanize.capitalize %>">
                          ITD realizado el: <%= itd.created_at %><% sanitize (index).humanize.capitalize %> 
                        </button>
                      </h2>
                    </div>
                    <% end %>
  </div>
  </div>
</div>