<div class="main mt-4 shadow p-3 mb-5 rounded">
  <h1 class="text-center" style="margin-bottom: 60px">Resultados Consolidados medición <%=l(@itdcon.created_at.to_date, format: :custom_itd)%></h1>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
        
      <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Respuestas Consolidadas
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% @itdcon.itdinds.each do |itdind|%>
            <%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %>
          <% end %>
        </ul>
      </div>
      <%= render partial: "results_graphs/maturity_result", locals: {itd: @itdcon}%>
      
      <%= render partial: "results_graphs/dat_result", locals: {itd: @itdcon, points_dat: @points_dat}%>

      <%= render partial: "results_graphs/hab_result", locals: {itd: @itdcon, points_hab: @points_hab}%>

      <%= render partial: "results_graphs/cap_result", locals: {itd: @itdcon, points_dat: @points_dat, points_hab: @points_hab}%>
    </div>
  </div>
  <div class = "d-flex justify-content-end marginright">
    <%= link_to 'Definir aspiración', empresa_aspiracions_path(@empresa), class:"btn btn-primary" , data: {turbo: false}%>
  </div>
</div>
