<div class="main mt-4 shadow p-3 mb-5 rounded">
  <h1 class="text-center" style="margin-bottom: 60px">Resultados Consolidados medición <%=l(@itdcon.created_at.to_date, format: :custom_itd)%></h1>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
      <div class=" row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-wrap justify-content-start">
          <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Respuestas Consolidadas
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% if @itdcon.itdareas.length == 0%>
                <% @itdcon.itdinds.each do |itdind|%>
                  <% if itdind.user == current_user%>
                    <li><%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %></li>
                  <%else%>
                    <%if current_user.is_admin%>
                      <li><%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %></li>
                    <%end%>
                  <%end%>
                <% end %>
              <%else%>
                <li class="dropdown dropend">
                  <% @itdcon.itdareas.each do |itdarea|%>
                    <button class="dropdown-item dropdown-toggle" id="dropdownSubMenuButton<%=itdarea.area.name%>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Respuestas <%=itdarea.area.name%>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuButton<%=itdarea.area.name%>">
                      <li><%= link_to "<b>Respuestas Consolidadas #{itdarea.area.name}</b>".html_safe, empresa_itdcon_itdarea_path(@empresa.id, @itdcon.id, itdarea), data: {turbo: false}, class:"dropdown-item" %></li>
                      <% itdarea.itdinds.each do |itdind|%>
                        <% if itdind.user == current_user%>
                          <li><%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %></li>
                        <%else%>
                          <%if current_user.is_admin%>
                            <li><%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %></li>
                          <%end%>
                        <%end%>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-wrap justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-sm-start justify-content-xs-start">
          <div>
            <%= link_to "Resultado Verificadores", empresa_itdcon_com_verificadors_url(@empresa, @itdcon), data: {turbo: false}, class:"btn btn-secondary"%>
          </div>
        </div>
      </div>
      <%= render partial: "results_graphs/maturity_result", locals: {itd: @itdcon}%>
      
      <%= render partial: "results_graphs/dat_result", locals: {itd: @itdcon, points_dat: @points_dat}%>

      <%= render partial: "results_graphs/hab_result", locals: {itd: @itdcon, points_hab: @points_hab}%>

      <%= render partial: "results_graphs/cap_result", locals: {itd: @itdcon, points_dat: @points_dat, points_hab: @points_hab}%>
    </div>
  </div>
  <%if current_user.is_admin%>
    <div class = "d-flex justify-content-end marginright">
      <%= link_to 'Definir aspiración', empresa_aspiracions_path(@empresa), class:"btn btn-primary" , data: {turbo: false}%>
    </div>
  <%end%>
</div>
