<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
  <div class="main">
    <h1 class="text-center" style="margin-bottom: 60px">ITD</h1>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Respuestas Consolidadas
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <% @itdcon.itdinds.each do |itdind|%>
                <%= link_to "Respuestas #{itdind.user.name} #{itdind.user.lastname}", empresa_itdcon_itdind_path(@empresa.id, @itdcon.id, itdind), data: {turbo: false}, class:"dropdown-item" %>
              <% end %>
            </ul>
          </div>

        <div class="shadow p-3 mb-5 bg-white rounded">  
          <h3>Resultado general de la evaluación</h3> 
          <div class=" d-flex align-items-stretch justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" > 
              <div>
                <canvas id="myChart2" ></canvas>
              </div>

              <script>
                var ctx2 = document.getElementById('myChart2');

                const arbitratyLine = {
                  id: 'arbitratyLine',
                  beforeDraw(chart, args, options){
                    const { ctx2, charArea: { top, right, bottom, left, width, height }, scales: {x,y}
                  } = chart;
                  ctx2.save();
                  ctx2.strokeStyle = "green";
                  ctx2.strokeRect(x.getPixelForValue(2), top, 0, height);
                  ctx2.restore();
                }};
                console.log(<%= @itdcon.alignment_score %>);
                console.log(<%= @itdcon.maturity_score %>);
                const data = {
                      datasets: [
                      { 
                        label: 'Puntaje ITD',
                        type: "scatter",
                        data: [{
                          y: <%= @itdcon.alignment_score %>,
                          x: <%= @itdcon.maturity_score %>
                        }],
                        backgroundColor: "red",
                        borderColor:'red'
                      },
                      
                      {
                        label: 'Rezagado Digital',
                        type: "line",
                        data: [30, 30, 30, 30],
                        backgroundColor: 'rgba(0, 0, 50, 0.2)',
                        borderColor:'rgba(0, 0, 0, 0)',
                        borderWidth: 1,
                        fill: "origin"
                      },
                      
                      
                      {
                        label: 'Explorador Digital',
                        type: "line",
                        data: [55, 55, 55, 55],
                        backgroundColor: 'rgba(0, 50, 0, 0.2)',
                        borderColor:'rgba(0, 0, 0, 0)',
                        borderWidth: 1,
                        fill: 1
                      },
                      {
                        label: 'Adoptador Digital',
                        type: "line",
                        data: [75, 75, 75, 75],
                        backgroundColor: 'rgba(50, 0, 0, 0.2)',
                        borderColor:'rgba(0, 0, 0, 0)',
                        borderWidth: 1,
                        fill: 1
                      },
                      {
                        label: 'Líder Digital',
                        type: "line",
                        data: [90, 90, 90, 90],
                        backgroundColor: 'rgba(0, 50, 50, 0.2)',
                        borderColor:'rgba(1, 0, 0, 0)',
                        borderWidth: 1,
                        fill: 1
                      },
                      {
                        label: 'Disruptor Digital',
                        type: "line",
                        data: [100, 100, 100, 100],
                        backgroundColor: 'rgba(50, 0, 50, 0.2)',
                        borderColor:'rgba(1, 0, 0, 0)',
                        borderWidth: 1,
                        hideable: true,
                        fill: 1
                      },
                    
                      ]
                    };

                    // config 
                    const config = {
                      data,
                      options: {
                        plugins: {
                          legend: {
                            onClick: (e) => {
                              }
                          }
                        },
                        indexAxis: "y",
                        scales: {
                          x: {
                            min: 0, 
                            max: 100,
                            stacked: false,
                          },
                          y: {
                            labels: [0, 10, 19, 40],
                            min: 0, 
                            max: 40,
                            reverse: true
                      
                          }
                        }
                      },
                    };

                    // render init block
                    var myChart = new Chart(
                      document.getElementById('myChart2').getContext('2d'),
                      config
                    );


              </script>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 border border-dark ps-3 pe-3">
              <h4 class="text-center text-uppercase"> INSIGHTS </h4>
              <p style="text-align: justify;">
                Esto significa que nos encontramos en el nivel <b><%=@itdcon.madurez.name%></b>, y presenta <b><%=@itdcon.alineamiento.name%></b> en la asignación de recursos en los habilitadores de la transformación.
              </p>
              <p style="text-align: justify;">
                El puntaje total de madurez es <b><%=@itdcon.maturity_score.round%></b> y el nivel de alineamiento es de <b><%=@itdcon.alignment_score.round%></b>. 
                <% if (@itdcon.maturity_score-@itdcon.madurez.min).to_f/(@itdcon.madurez.max-@itdcon.madurez.min) <=0.3 %>
                  Esto significa que están <b>iniciando el camino como <%=@itdcon.madurez.name%></b>.
                <% elsif (@itdcon.maturity_score-@itdcon.madurez.min).to_f/(@itdcon.madurez.max-@itdcon.madurez.min) <=0.6%>
                  Esto significa que están <b>transitando el camino del <%=@itdcon.madurez.name%></b>.
                <% elsif (@itdcon.maturity_score-@itdcon.madurez.min).to_f/(@itdcon.madurez.max-@itdcon.madurez.min) <=0.9%>
                  Esto significa que están <b>consolidados como <%=@itdcon.madurez.name%></b>.
                <%else%>
                  <% if @itdcon.madurez.min == 100%>
                    Esto significa que están <b>fuertemente consolidados como <%=@itdcon.madurez.name%></b>.
                  <%else%>
                    Esto significa que están <b>en transición a <%=Madurez.find_by(min: @itdcon.madurez.max).name%></b>.
                  <%end%>
                <%end%>
              </p>
            </div>
          </div>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">  
          <h3>Nivel de madurez de capitales intangibles</h3>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
            Lo ideal en esta sección es contar con un puntaje similar en los 5 capitales intangibles, ya que para lograr una transformación sostenible del negocio, se requiere de un incremento equilibrado o balanceado de estos.  
          </div>
          <div class=" d-flex align-items-stretch justify-content-between"> 
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 "> 
              <div>
                <canvas id="myChart1"></canvas>
              </div>
              <script>
                let label = [];
                let values = [];
                let maturity = [] ;
                <% @points_dat.keys.each do |dat|%>
                  label.push("Capital <%= dat %>");
                  values.push(<%= @points_dat[dat]%>);
                  maturity.push(<%= @itdcon.maturity_score%>);
                <%end%>
                const ctx = document.getElementById('myChart1');
                  new Chart(ctx, {
                      
                      data: {
                      labels: label,
                      datasets: [{
                        label: 'Puntaje por capital',
                        type: 'bar',
                        data: values,
                        fill: true,
                      }, {
                        label: 'Meta Umbral (Aún por definir limites)',
                        type: 'line',
                        data: maturity,
                      }]
                    },
                      options: {
                        scales: {
                          y: {
                            min: 0, 
                            max: 100,
                          },
                        },
                        elements: {
                          line: {
                            borderWidth: 3
                          }
                        }
                      },
                    });
              </script>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 border border-dark ps-3 pe-3">
              <h4 class="text-center text-uppercase"> INSIGHTS </h4>
              <ul>
                <li style="text-align: justify;">
                  El puntaje total de madurez es <b><%=@itdcon.maturity_score.round%></b>
                </li>
                <li style="text-align: justify;">
                  Las Dimensiones de Activos Transformacionales (DATs) impulsores (sobre el nivel de madurez) de la Transformación Digital de la organización son: 
                  <ul>
                    <% @points_dat.keys.each do |dat|%>
                      <% if @points_dat[dat] > @itdcon.maturity_score %>
                        <li><b>Capital <%=dat.capitalize%></b></li>
                      <%end%>
                    <%end%>
                  </ul>
                </li>
                <li style="text-align: justify;">
                  Las Dimensiones de Activos Transformacionales (DATs) ralentizadores (bajo el nivel de madurez) de la Transformación Digital de la organización son: 
                  <ul>
                    <% @points_dat.keys.each do |dat|%>
                      <% if @points_dat[dat] < @itdcon.maturity_score %>
                        <li><b>Capital <%=dat.capitalize%></b></li>
                      <%end%>
                    <%end%>
                  </ul>
                </li>
              </ul> 
            </div>
          </div>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">
          <h3>Aquí podemos ver los distintos habilitadores</h3>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
            El balance también puede apreciarse comparando la madurez entre habilitadores
          </div>
          <div class=" d-flex align-items-stretch justify-content-between"> 
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 "> 
              <div>
                <canvas id="myChart3"></canvas>
              </div>
              <script>
                let ctx3= document.getElementById('myChart3');

                new Chart(ctx3, {
                  type: 'radar',
                  data: {
                  labels: [
                    'Estrategia',
                    'Modelo de negocios',
                    'Gobernance',
                    'Procesos',
                    'Tecnología',
                    'Datos y analítica',
                    'Modelo operativo',
                    'Propiedad intelectual',
                    'Personas',
                    'Ciclo de vida del colaborador',
                    'Estructura Organizacional',
                    'Stakeholders',
                    'Marca',
                    'Clientes',
                    'Sustentabilidad'
                  ],    

                  datasets: [{
                    label: 'Habilitadores valores reales',
                    data: <%=@points_hab.values()%>,
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                  }]
                },
                  options: {
                    scale: {
                      ticks: {
                        min: 0, 
                        max: 100,
                      },
                    },
                    elements: {
                      line: {
                        borderWidth: 3,
                      }
                    }
                  },
                });
              </script>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 border border-dark ps-3 pe-3">
              <h4 class="text-center text-uppercase"> INSIGHTS </h4>
              <ul>
                <li style="text-align: justify;">
                  Los habilitadores claves que impulsan la Transformación Digital de la organización son: 
                  <ul>
                    <% @points_hab.sort_by{|k, v| -v}[0..3].each do |hab, points|%>
                      <% if points > @itdcon.maturity_score %>
                        <li><b><%="#{hab.capitalize} (#{points.round})"%></b> </li>
                      <%end%>
                    <%end%>
                  </ul>
                </li>
                <li style="text-align: justify;">
                  Los habilitadores claves que ralentizan la Transformación Digital de la organización son: 
                  <ul>
                    <% @points_hab.sort_by{|k, v| v}[0..3].each do |hab, points|%>
                      <% if points < @itdcon.maturity_score %>
                        <li><b><%="#{hab.capitalize} (#{points.round})"%></b></li>
                      <%end%>
                    <%end%>
                  </ul>
                </li>
              </ul> 
            </div>
          </div>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">  
          <h3>Drill-down por DAT</h3>
          <p class="mb-3">En esta sección se muestran los resultados desagregados para cada Dimensión de Activo Transformacional </p>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <script>
              let ctx_cap;
            </script>
            <%Dat.all.each_with_index do |dat, index|%>
              <div class="accordion-item">
                <h2 class="accordion-header" id=<%="flush-heading" + index.humanize.capitalize%>>
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%="#flush-collapse" + index.humanize.capitalize%> aria-expanded="false" aria-controls=<%="flush-collapse" + index.humanize.capitalize%>>
                    <h4><b>Capital <%=dat.name%></b></h4>
                  </button>
                </h2>
                <div id=<%="flush-collapse" + index.humanize.capitalize%> class="accordion-collapse collapse" aria-labelledby=<%="flush-heading" + index.humanize.capitalize%> data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                      <%= dat.description%>
                    </div>
                    <div class=" d-flex align-items-stretch justify-content-between"> 
                      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <div>
                          <canvas id=<%= "myChart" + (index+4).to_s%>></canvas>
                        </div>
                        <script>
                          label = [];
                          values = []; 
                          maturity = [];
                          <% dat.habilitadors.each do |hab|%>
                            label.push("<%= hab.name %>");
                            values.push("<%= @points_hab[hab.name]%>");
                            maturity.push(<%= @points_dat[dat.name.downcase]%>);
                          <%end%>
                          ctx_cap= document.getElementById('myChart' + "<%=(index + 4)%>");
                          new Chart(ctx_cap, {
                            type: 'bar',
                            data: {
                            labels: label,
                            datasets: [{
                              label: 'Capital estructural real',
                              data: values,
                              fill: true,
                              backgroundColor: 'rgba(255, 99, 132, 0.2)',
                              borderColor: 'rgb(255, 99, 132)',
                              pointBackgroundColor: 'rgb(255, 99, 132)',
                              pointBorderColor: '#fff',
                              pointHoverBackgroundColor: '#fff',
                              pointHoverBorderColor: 'rgb(255, 99, 132)'
                            },
                            {
                              label: 'Meta Umbral (Aún por definir limites)',
                              type: 'line',
                              data: maturity,
                            }]
                          },
                            options: {
                              scales: {
                                y: {
                                  min: 0, 
                                  max: 100,
                                },
                              },
                              elements: {
                                line: {
                                  borderWidth: 3,
                                }
                              }
                            },
                          });
                        </script>
                      </div>
                      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 border border-dark ps-3 pe-3">
                        <h4 class="text-center text-uppercase"> INSIGHTS </h4>
                        <ul>
                          <li style="text-align: justify;"> 
                            El puntaje promedio del DAT <b>Capital <%=dat.name.capitalize%></b> es: <b><%=@points_dat[dat.name.downcase].round%></b>
                          </li>
                          <li style="text-align: justify;"> 
                            El DAT <b>Capital <%=dat.name.capitalize%> es 
                            <%if @points_dat[dat.name.downcase] > @itdcon.maturity_score%>
                              impulsor
                            <%else%>
                              ralentizador
                            <%end%>
                            </b> de la Transformación digital de la organización
                          </li>
                          <li style="text-align: justify;">
                            Los habilitadores claves impulsores del DAT Capital <%=dat.name.capitalize%> son: 
                            <ul>
                              <% @points_hab.sort_by{|k, v| -v}.each do |hab, points|%>
                                <% if dat.habilitadors.find_by(name: hab)%>
                                  <% if points > @points_dat[dat.name.downcase] %>
                                    <li><b><%="#{hab.capitalize} (#{points.round})"%></b> </li>
                                  <%end%>
                                <%end%>
                              <%end%>
                            </ul>
                          </li>
                          <li style="text-align: justify;">
                            Los habilitadores claves ralentizadores del DAT Capital <%=dat.name.capitalize%> son: 
                            <ul>
                              <% @points_hab.sort_by{|k, v| v}.each do |hab, points|%>
                                <% if dat.habilitadors.find_by(name: hab)%>
                                  <% if points < @points_dat[dat.name.downcase] %>
                                    <li><b><%="#{hab.capitalize} (#{points.round})"%></b></li>
                                  <%end%>
                                <%end%>
                              <%end%>
                            </ul>
                          </li>
                        </ul> 
                      </div>
                    </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample<%=dat.name%>">
                      <%dat.habilitadors.each do |habilitador|%>
                        <h3 class="accordion-header" id=<%="flush-heading" + habilitador.id.to_s%>>
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%="#flush-collapse" + habilitador.id.to_s%> aria-expanded="false" aria-controls=<%="flush-collapse" + habilitador.id.to_s%>>
                            <h5><b><%=habilitador.name%></b></h5>
                          </button>
                        </h3>

                        <div id=<%="flush-collapse" + habilitador.id.to_s%> class="accordion-collapse collapse" aria-labelledby=<%="flush-heading" + habilitador.id.to_s%> data-bs-parent="#accordionFlushExample<%=dat.name%>">
                          <div class="accordion-body">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                              <%= habilitador.description%>
                            </div>
                            <div class="row">
                              <%habilitador.elementos.each do |elemento|%>
                                <div class="col-xl-<%=12/habilitador.elementos.length%> col-lg-<%=12/habilitador.elementos.length%>  col-md-12 col-sm-12 col-xs-12">
                                  <div>
                                    <canvas id=<%= "myChart" + elemento.name.gsub(/\s+/, "") + habilitador.id.to_s%>></canvas>
                                  </div>

                                  <script>
                                    label = [];
                                    values = []; 
                                    <% elemento.drivers.each do |driver|%>
                                      label.push("<%= driver.name %>");
                                      values.push("<%= @itdcon[driver.identifier]%>");
                                    <%end%>
                                    console.log("<%="#{elemento.name.gsub(/\s+/, "")} #{habilitador.id.to_s}"%>");
                                    console.log(label);
                                    console.log(values);
                                    new Chart(document.getElementById('myChart' + "<%=elemento.name.gsub(/\s+/, "") + habilitador.id.to_s%>"), {
                                      type: 'bar',
                                      data: {
                                      labels: label,
                                      datasets: [{
                                        label: "<%=elemento.name%>",
                                        data: values,
                                        fill: true,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        pointBackgroundColor: 'rgb(255, 99, 132)',
                                        pointBorderColor: '#fff',
                                        pointHoverBackgroundColor: '#fff',
                                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                                      }]
                                    },
                                      options: {
                                        indexAxis: "y",
                                        scales:{ 
                                          x: {
                                            min: 0,
                                            max: 4
                                          },
                                          y: {
                                              display: true,
                                              fontSize: 22
                                          }
                                        },
                                        
                                        elements: {
                                          line: {
                                            borderWidth: 3,
                                          }
                                        }
                                      },
                                    });
                                  </script>

                                </div>
                              <%end%>

                            </div>

                          </div>
                        </div>

                      <%end%>
                    </div>

                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class = "d-flex justify-content-end marginright">
      <%= link_to 'Definir aspiración', empresa_aspiracions_path(@empresa), class:"btn btn-primary" , data: {turbo: false}%>
    </div>
  </div>
</div>
