
<%= form_with(model: [empresa, aspiracion]) do |form| %>
  <% if aspiracion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aspiracion.errors.count, "error") %> prohibited this tobe from being saved:</h2>

      <ul>
        <% aspiracion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :empresa_id, value: empresa.id %>
  <%= form.hidden_field :alignment_score, value: aspiracion_mat["alignment_score"] %>
  <%= form.hidden_field :maturity_score, value: aspiracion_mat["maturity_score"] %>
  <% aspiracion_dat.keys.each do |dat|%>
    <%= form.hidden_field dat, value: aspiracion_dat[dat] %>
    <% if aspiracion_hab.keys.include? dat %>
      <% aspiracion_hab[dat].keys.each do |hab|%>
        <%= form.hidden_field hab, value: aspiracion_hab[dat][hab] %>
      <% end %>
    <%else%>
      <% recomendation_hab[dat].keys.each do |hab|%>
        <%= form.hidden_field hab, value: recomendation_hab[dat][hab].round %>
      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= form.submit "Definir Aspiración", class: "btn btn-primary  border border-dark " %>
  </div>
<% end %>