<%= turbo_frame_tag "new_maturity_graph" do %>
  <%= form_with(model: [empresa, aspiracion]) do |form| %>
    <% if aspiracion.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(aspiracion.errors.count, "error") %> prohibited this tobe from being saved:</h2>

        <ul>
          <% aspiracion.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.hidden_field :empresa_id, value: empresa.id %>
    <div>
      <%= form.label :maturity_score, style: "display: block" %>
      <%= form.number_field :maturity_score %>
    </div>

    <div>
      <%= form.label :alignment_score, style: "display: block" %>
      <%= form.number_field :alignment_score %>
    </div>

    <%= form.hidden_field :estrategico, value: recomendation["estrategico"] %>

    <%= form.hidden_field :estructural, value: recomendation["estructural"] %>

    <%= form.hidden_field :humano, value: recomendation["humano"] %>

    <%= form.hidden_field :relacional, value: recomendation["relacional"] %>
    
    <%= form.hidden_field :natural, value: recomendation["natural"] %>


    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>