<%= form_with(model: [empresa, aspiracion], url: update_dat_recomendation_path(empresa), method: :post, id: "submit_dat_form") do |form| %>
  <% if aspiracion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aspiracion.errors.count, "error") %> prohibited this tobe from being saved:</h2>

      <ul>
        <% aspiracion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%points_dat.keys.each do |dat|%>
    <div class="d-flex text-end align-items-center">
      <%= form.label dat.to_s, style: "display: block; font-size:13px;", class: "col-7 me-2 mb-2"  %>
      <%= form.number_field dat.to_s, placeholder: recomendation_dat[dat].round, max: 100, min: (points_dat[dat].round + 1), value: nil, class: "input col-4 mb-2"  %>
    </div>
  <%end%>
    <%= form.hidden_field :maturity_score, value: recomendation_mat["maturity_score"] %>
    <%= form.hidden_field :alignment_score, value: recomendation_mat["alignment_score"] %>
<% end %>
