
<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <%= turbo_frame_tag "dat_graph" do %>  
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
        <div>
          <canvas id="myChart <%=dat%>"></canvas>
        </div>
        <script>
          label = [];
          values = [];
          maturity = [] ;
          recomendation = [];
          <% points_hab.keys.each do |hab|%>
            label.push("<%= hab %>");
            values.push(<%= points_hab[hab]%>);
            maturity.push(<%= maturity%>);
            recomendation.push(<%= recomendation_hab[hab]%>);
          <%end%>
          data = [{
            label: 'Puntaje por habilitador',
            type: 'bar',
            data: values,
            fill: true,
            borderColor: '#36A2EB',
            backgroundColor: '#9BD0F5',
            },
            {
            label: 'Meta Madurez',
            type: 'line',
            data: maturity,
            borderColor: '#FF6384',
            backgroundColor: '#FFB1C1',
            },
            {
            label: 'Meta de Aumento',
            type: 'bar',
            data: recomendation,
          }];
          <% if aspiracion_hab %>
            aspiracion = [];
            <% points_hab.keys.each do |hab|%>
              aspiracion.push(<%= aspiracion_hab[hab]%>);
            <%end%>
            data.push({
            label: 'Aspiracion',
            type: 'bar',
            data: aspiracion,
            fill: true,
            borderColor: '#FFFFF',
            backgroundColor: '#00000',
            })
          <%end%>
          ctx = document.getElementById('myChart <%=dat%>');
          new Chart(ctx, {
            data: {
            labels: label,
            datasets: data,
            },
            options: {
              x: {
                stacked: true
              },
              y: {
                stacked: false,
                beginAtZero: true,
                reverse: true
              },
              elements: {
                line: {
                  borderWidth: 3

                }
              }
            },
          });             
        </script>
      </div>

      <div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <h3 class="text-center">El puntaje de madurez del capital aspirado es <b><%= maturity.to_i %></b></h3>
          <h4 class="text-center">El puntaje de madurez aspirado es <b><%= aspiracion_mat["maturity_score"].to_i %></b></h4>
          <h4 class="text-center">El alineamiento con esa aspiración de madurez es <b><%= aspiracion_mat["alignment_score"].to_i %></b></h4>
          <b> Los habilitadores bajo el umbral son:</b>
          <% points_hab.keys().each do |hab|%>
            <div>
              <%if recomendation_hab[hab].to_i - points_hab[hab].to_i > 0 %>
                <%= " - Te recomendamos subir el Habilitador #{hab} a #{recomendation_hab[hab].to_i}" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
