<div class="container-fluid">
  <div class="main">
    <div class="shadow p-3 mb-5 bg-white rounded">  
      <div class="row">
        <script>
          let label = [];
          let values = [];
          let maturity = [] ;
          let recomendation = [];
          let ctx;
          let ctx2;
          let arbitratyLine;
          let data;
          let token;
          var myChart;
        </script>

        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12 ">
          <h3><b>Aspiración de madurez y alineamiento</b></h3>
          <%= turbo_frame_tag "new_maturity_graph" do %>
              <%= render "form_maturity", empresa: @empresa, aspiracion: @empresa.aspiracion.build, recomendation: @recomendation %>
              <br>
          <%end%>
        </div>
          <%= turbo_frame_tag "maturity_graph" do %>
            <%= render "maturity_graph", recomendation: @recomendation, itdcon: @itdcon %>
          <%end%>
        </div>
      </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
          <h1>Nueva Aspiracion</h1>
          <%= turbo_frame_tag "new_graph" do %>
            <%= render "form_dat", empresa: @empresa, aspiracion: @empresa.aspiracion.build, recomendation: @recomendation %>
            <br>
          <%end%>
        </div>
        
        <%= turbo_frame_tag "dat_graph" do %>
          <%= render "dat_graph", recomendation: @recomendation, itdcon: @itdcon, points_dat: @points_dat %>
          
        <%end%>

      </div>
    </div>
  </div>
</div>

