
<div class="container-fluid">
  <div class="main">
    <%= render partial: "form", locals: {empresa: @empresa, user: @empresa.users.build}%>
    <button class= "position-absolute top-0 end-0 mt-2 me-2 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Invitar Miembro
    </button>
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h1 class="title has-text-black has-text-centered">Usuarios</h1>
        <div  class="box">
          <div id="size_fixed" class="container">
            <table class="table">
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td> <%= user.name %> </td>
                    <td><%= user.email %></td>
                    <% if !user.accepted_or_not_invited?%>
                      <td> Pendiente </td>
                    <% else%>
                      <td> </td>
                    <%end%>
                    <td> <%= link_to "Ver perfil", user_path(user.id), class:"button is-info"%> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <button id="buttonuser" class="button">
          <%= link_to "Volver a la pagina principal", root_path %>
        </button>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
