<div class="main position-relative">
  <%= render partial: "form", locals: {empresa: @empresa, user: @empresa.users.build}%>
  <button class= "position-absolute top-0 end-0 mt-2 me-2 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Invitar Miembro
  </button>
  <h3 >Equipo</h3>
  <div  class="row">
    <div id="size_fixed" class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div class=" d-flex flex-wrap justify-content-start align-items-center">
                  <%= image_tag "logos/profile.png", height: 45%>
                  <div class= "ms-2">
                    <%= "#{user.name} #{user.lastname}" %> 
                    <br>
                    <%= user.email %>
                  </div>
                </div>
              </td>
              <td>
                <div class=" d-flex flex-wrap me-3 justify-content-end ">
                  <div class="align-self-center">
                    <% if !user.accepted_or_not_invited?%>
                      Pendiente
                    <% else%>
                      <%if user.is_admin%>
                        Administrador
                      <%else%>
                        Aceptado
                      <%end%>
                    <%end%>
                  </div>
                  <div class="dropstart">
                    <div type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= image_tag "logos/options.png", height: 40, class: "ms-3" %>
                    </div>
                    
                    <ul class="dropdown-menu ms-3" aria-labelledby="dropdownMenuButton1">
                      <%= link_to "Ver Perfil", user_path(user.id), class:"profileoptions" %>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
