<%= form_with(model: [empresa, itdcon, itdind], data: {turbo: false}) do |form| %>
  <% if itdind.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(itdind.errors.count, "error") %> prohibited this itd from being saved:</h2>

      <ul>
        <% itdind.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>

  <div class="container-fluid">
    <%= form.hidden_field :itdcon_id, value: itdcon.id, type: :hidden %>
    <div class= "position-absolute top-0 end-0 mt-2 me-2">
      <%= form.submit  %>
    </div>
    
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"  data-bs-touch="false">
      <div class="carousel-indicators">
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="15" aria-label="Slide 16"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="16" aria-label="Slide 17"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="17" aria-label="Slide 18"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="18" aria-label="Slide 19"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="19" aria-label="Slide 20"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="20" aria-label="Slide 21"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="21" aria-label="Slide 22"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="22" aria-label="Slide 23"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="23" aria-label="Slide 24"></button>
        <button type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide-to="24" aria-label="Slide 25"></button>
      </div>

      <div class="carousel-inner w-100">
        <div class="carousel-item active carrouselitem w-100 " data-bs-interval="100000000000000">
          <div class="d-flex justify-content-center">
            <h1 class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px; margin-top: 50px;">Índice de Transformación Digital</h1>
          </div> 
          <div class="d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px;">
              La presente encuesta se efectúa en un ámbito privado, los datos entregados son de carácter confidencial. Su uso estará limitado al programa que se esta desarrollando con la Universidad Adolfo Ibáñez.
            </div>
          </div>  
        </div>
        <div class="carousel-item carrouselitem w-100" data-bs-interval="100000000000000">
          <div class="d-flex justify-content-center">
            <h1 class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px; margin-top: 50px;">Índice de Transformación Digital</h1>
          </div> 
          <div class="d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px;">
              <span>El modelo considera 5 Capitales Intangibles: Estratégico, Estructural, Humano, Relacional y Natural, compuestos por un conjunto de habilitadores clave para la Transformación Digital.</span>
              <span>Para responder la encuesta, se debe seleccionar el nivel que mejor represente la situación actual de la organización para cada caso, considerando una escala de 0 a 4, donde 0 es el mínimo y 4 es el máximo.</span>
              Tanto nivel mínimo y máximo cuenta con una descripción para facilitar la identificación del nivel actual.
            </div>
          </div>  
        </div>

        <%Dat.all.each do |dat|%>
          <div class="carousel-item carrouselitem w-100" data-bs-interval="100000000000000">
            <div class="d-flex justify-content-center">
              <h2 class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px; margin-top: 50px;">Capital <%=dat.name.capitalize%></h2>
            </div>
            <div class="d-flex justify-content-center">
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px;">
                <%=dat.description%>
              </div>
            </div>  
          </div>
          <%dat.habilitadors.each do |habilitador|%>

            <div class="carousel-item carrouselitem w-100" data-bs-interval="100000000000000">
              <div class="d-flex justify-content-center">
                <h3 class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px; margin-top: 50px;">Capital <%=dat.name.capitalize%></h3>
              </div>
              <div class="d-flex justify-content-center">
                <h5 class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 30px;"><%=habilitador.name.capitalize%></h5>
              </div>
              <div class="d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin-bottom: 50px;">
                  <%=habilitador.description%>
                </div>
              </div>
              <div class="container" style="margin-bottom: 50px;">
                <%habilitador.elementos.each do |elemento|%>
                  <%elemento.drivers.each do |driver|%>
                    <%= render partial: "modal", locals: {empresa: empresa, itdcon: itdcon, itdind: itdind, driver: driver, form: form}%>
                    <div class="d-flex justify-content-center w-100">
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 shadow p-3 mb-5 rounded">
                        <div class="d-flex  align-items-center " > 
                          <b><%="#{driver.identifier[1..-1]}) #{elemento.name} - #{driver.name}"%> </b>
                          <div type="button" class="ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal<%=driver.id%>">
                            <%= image_tag "logos/dialog.png", height: 30 %>

                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">  
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 "> 
                            <%=driver.min_description%>
                          </div>
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                            <%= form.radio_button driver.identifier, "0" %>
                            <%= form.label driver.identifier, "0" %>
                          </div>
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                            <%= form.radio_button driver.identifier, "1" %>
                            <%= form.label driver.identifier, "1" %>
                          </div>
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                            <%= form.radio_button driver.identifier, "2" %>
                            <%= form.label driver.identifier, "2" %>
                          </div>
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                            <%= form.radio_button driver.identifier, "3" %>
                            <%= form.label driver.identifier, "3" %>
                          </div>
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                            <%= form.radio_button driver.identifier, "4" %>
                            <%= form.label driver.identifier, "4" %>  
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 "> 
                            <%=driver.max_description%>
                          </div>      
                        </div>
                      </div>
                    </div>
                  <%end%>
                <%end%>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>   
      <button class="carousel-control-next" type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-prev" type="button" onclick="topFunction()" id="myBtn"  data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>

<% end %>
