<%= form_with(model: [empresa, itdcon, itdind]) do |form| %>
  <% if itdind.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(itdind.errors.count, "error") %> prohibited this itd from being saved:</h2>

      <ul>
        <% itdind.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>

  <%= form.hidden_field :itdcon_id, value: itdcon.id, type: :hidden %>
  <div class="me-5 ms-5 mb-2 d-flex flex-wrap justify-content-center">
    <div id="carouselExampleDark" class="carousel carousel-dark slide  col-xl-11 col-lg-11 col-md-12 col-sm-12 col-xs-12" data-bs-ride="carousel"  data-bs-touch="false">
      <div class="carousel-inner position-relative">
        <div class="carousel-item active  h-100 w-100 " data-bs-interval="100000000000000">
          <div class="border border-1 rounded shadow-sm bg-white">
            <div class="d-flex justify-content-center">
              <h1 class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px; margin-top: 50px;">Índice de Transformación Digital</h1>
            </div> 
            <div class="d-flex justify-content-center">
              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px;">
                La presente encuesta se efectúa en un ámbito privado, los datos entregados son de carácter confidencial. Su uso estará limitado al programa que se esta desarrollando con la Universidad Adolfo Ibáñez.
              </div>
            </div>
          </div>
          <div class="ms-3 mt-3"> 
            <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn"  data-bs-target="#carouselExampleDark" data-bs-slide="next">
              Siguiente
            </div>
            <%=form.submit "Actualizar Respuestas",  class:"btn btn-primary  shadow-sm " %>
              
          </div>  
        </div>
        <div class="carousel-item  h-100 w-100 " data-bs-interval="100000000000000">
          <div class="border border-1 rounded shadow-sm bg-white">
            <div class="d-flex justify-content-center">
              <h1 class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px; margin-top: 50px;">Índice de Transformación Digital</h1>
            </div> 
            <div class="d-flex justify-content-center">
              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px;">
                <span>El modelo considera 5 Capitales Intangibles: Estratégico, Estructural, Humano, Relacional y Natural, compuestos por un conjunto de habilitadores clave para la Transformación Digital.</span>
                <span>Para responder la encuesta, se debe seleccionar el nivel que mejor represente la situación actual de la organización para cada caso, considerando una escala de 0 a 4, donde 0 es el mínimo y 4 es el máximo.</span>
                Tanto nivel mínimo y máximo cuenta con una descripción para facilitar la identificación del nivel actual.
              </div>
            </div>
          </div> 
          <div class="ms-3 mt-3"> 
            <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            Anterior
            </div>
            <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn"  data-bs-target="#carouselExampleDark" data-bs-slide="next">
              Siguiente
            </div>
            <%=form.submit "Actualizar Respuestas",  class:"btn btn-primary  shadow-sm " %>
          </div>  
        </div>

        <%Dat.all.each do |dat|%>
          <div class="carousel-item  h-100 w-100 " data-bs-interval="100000000000000">
            <div class="border border-1 rounded shadow-sm bg-white">
              <div class="d-flex justify-content-center">
                <h2 class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px; margin-top: 50px;">Capital <%=dat.name.capitalize%></h2>
              </div>
              <div class="d-flex justify-content-center">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px;">
                  <%=dat.description%>
                </div>
              </div> 
            </div>
            <div class="ms-3 mt-3"> 
              <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              Anterior
              </div>
              <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn"  data-bs-target="#carouselExampleDark" data-bs-slide="next">
                Siguiente
              </div>
              <%=form.submit "Actualizar Respuestas",  class:"btn btn-primary  shadow-sm " %>
            </div>  
          </div>
          <%dat.habilitadors.each do |habilitador|%>

            <div class="carousel-item  h-100 w-100 " data-bs-interval="100000000000000">
              <div class="border border-1 rounded shadow-sm bg-white">
                <div class="d-flex flex-wrap justify-content-center">
                  <h3 class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px; margin-top: 50px;">Capital <%=dat.name.capitalize%></h3>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <h5 class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 30px;"><%=habilitador.name.capitalize%></h5>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center" style="margin-bottom: 20px;">
                    <%=habilitador.description%>
                  </div>
                </div>
                <div class="container" style="margin-bottom: 20px;">
                  <%habilitador.elementos.each do |elemento|%>
                    <%elemento.drivers.each do |driver|%>
                      <div class="d-flex flex-wrap justify-content-center w-100">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 shadow p-3 mb-5 rounded">
                          <div class="d-flex flex-wrap align-items-center " > 
                            <%if elemento.name != driver.name%>
                              <b><%="#{driver.identifier[1..-1]}) #{elemento.name} - #{driver.name}"%> </b>
                            <%else%>
                              <b><%="#{driver.identifier[1..-1]}) #{elemento.name}"%> </b>
                            <%end%>
                            <%if driver.verificadors.count>0%>
                              <%= render partial: "modal", locals: {empresa: empresa, itdcon: itdcon, itdind: itdind, driver: driver, form: form}%>
                              <div type="button" class="ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal<%=driver.id%>">
                                <%= image_tag "logos/dialog.png", height: 30 %>
                              </div>
                            <%end%>
                          </div>
                          <div class="d-flex flex-wrap align-items-center justify-content-between">  
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-sm-1 mb-xs-1"> 
                              <%=driver.min_description%>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                              <%= form.radio_button driver.identifier, "0" %>
                              <%= form.label driver.identifier, "0" %>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                              <%= form.radio_button driver.identifier, "1" %>
                              <%= form.label driver.identifier, "1" %>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                              <%= form.radio_button driver.identifier, "2" %>
                              <%= form.label driver.identifier, "2" %>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                              <%= form.radio_button driver.identifier, "3" %>
                              <%= form.label driver.identifier, "3" %>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 "> 
                              <%= form.radio_button driver.identifier, "4" %>
                              <%= form.label driver.identifier, "4" %>  
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-sm-1 mt-xs-1"> 
                              <%=driver.max_description%>
                            </div>      
                          </div>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                </div>
              </div>
              <div class="ms-3 mt-3"> 
                <div class="btn btn-outline-secondary text-dark bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                Anterior
                </div>
                <div class="btn btn-outline-secondary text-dark  bg-white  shadow-sm " type="button" onclick="topFunction()" id="myBtn"  data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  Siguiente
                </div>
                <%=form.submit "Actualizar Respuestas",  class:"btn btn-primary  shadow-sm " %>
              </div> 
            </div>
          <%end%>
        <%end%>
      </div>  
    </div>
  </div>

<% end %>
