<%= form.fields_for :verificador do |form| %>
  <div class="modal fade" id="exampleModal<%=driver.id%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=driver.id%>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel<%=driver.id%>">Verificador: <%= driver.verifier%></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class = "container">
            <div class="main mt-4">
              <select name="itdind[verificador_attributes[<%=driver.identifier%>]]" id="itdind_verificador_attributes_<%=driver.identifier%>" class="form-select">
                <%Verificador::OPTIONS.each do |option|%>
                  <option value="<%=option%>"><%=option%></option>
                <%end%>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

