<header class="container-fluid">
  <nav class="sidenav">

    <div class="container-fluid">

      <%= link_to 'IMAGEN', root_path, class:"navelement" %>
      <br/>
        <div class="offcanvas-header">
        </div>
        <div class="offcanvas-body">

            <% if user_signed_in? %>
              <% if current_user.empresa_id %>
                <%= link_to 'Inicio', empresa_path(current_user.empresa_id), class:"navelement" %>
                <br/>
                <%= link_to 'Mediciones', empresa_itdcons_path(current_user.empresa_id), class:"navelement" %>
                <br/>
              <% else %>
                <%= link_to 'Inicio', root_path, class:"navelement" %>
                <br/>
              <% end %>
              <%= link_to 'Sobre nosotros', root_path, class:"navelement" %>
              <br/>
              <%= link_to 'Editar Perfil', edit_user_registration_path, class:"navelement" %>
              <br/>
              <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"navelement" %>
              <!-- aquí se puede usar el metodo "data { turbo_method: :delete }-->



            <% else %>
              <%= link_to 'Inicio', root_path, class:"navelement" %>
              <br/>
                <%= link_to 'Ingresar', new_user_session_path, class:"navelement" %>
              <br/>

              <%= link_to 'Registrarse', new_user_registration_path, class:"navelement" %>
              <br/>
            <% end %>
        </div>
    </div>
  </nav>
<header>