<div id="<%= dom_id empresa %>">
  <p>
    <strong>Nombre empresa:</strong>
    <%= empresa.name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= empresa.rut %>
  </p>
  <p>
    <strong>Tamaño:</strong>
    <%= "#{Empresa::OPTIONS[empresa.size]} colaboradores" %>
  </p>
  <%if empresa.areas.length > 0%>
    <strong> Áreas</strong>
    <ul>
      <%empresa.areas.each do |area|%>
        <li><%=area.name%></li>
      <%end%>
    </ul>
  <%end%>
</div>
