<%= f.fields_for :empresa do |fc| %>
  <h3 class="card-title text-center">Rellena con los datos de tu empresa</h3>
  <div class="form-group mb-2 ">
    <%= fc.label "Nombre", class: "me-2"%><br />
    <%= fc.text_field :name, autofocus: true, autocomplete: "name", class: "form-control "%>
  </div>

  <div class="form-group mb-2 ">
    <%= fc.label "Rut", class: "me-2" %><br />
    <%= fc.text_field :rut, autofocus: true, class: "form-control "%>
  </div>

  <div class="form-group mb-2 ">
    <%= fc.label "Sector", class: "me-2" %><br />
    <%= fc.text_field :sector, autofocus: true, class: "form-control "%>
  </div>
  <div class="form-group mb-2 ">
    <%= fc.label "Número de colaboradores", class: "me-2" %><br />
    <select name="user[empresa_attributes[size]]" id="user_empresa_attributes_size" class="form-select">
      <%Empresa::OPTIONS.keys.each do |option|%>
        <option value=<%=option%>><%=Empresa::OPTIONS[option]%></option>
      <%end%>
    </select>
  </div>
  
<% end %>