<!--<p style="color: green"><%= notice %></p>
mx-lg-auto -->
<% if @empresa.id == current_user.empresa_id %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class ="main mt-4">
  <div class="row aligncenter">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  
                  <h4> Datos Empresa </h4>
                  <%= render @empresa %>
                  <div>
                  
                  </div>          
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <h4> Participantes </h4>
                      <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              Participantes de la empresa
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                              <div>
                                
                                
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Apellido</th>
                                      <th scope="col">Email</th>
                                      <% if @empresa.areas.length > 0%>
                                        <th scope="col">Área</th>
                                      <%end%>
                                    </tr>
                                  </thead>
                                  <tbody class="table-group-divider">
                                    <% @empresa.users.each_with_index do |usuario, index| %>
                                    <tr>
                                      <th scope="row"><%= "#{index}".to_i + 1 %></th>
                                      <td><%= usuario.name %></td>
                                      <td><%= usuario.lastname %></td>
                                      <td><%= usuario.email %></td>
                                      <% if usuario.area%>
                                        <td><%= usuario.area.name %></td>
                                      <% elsif @empresa.areas.length > 0%>
                                        <td><%= ""%></td>
                                      <%end%>
                                    </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                                
                              </div>
                              <% if current_user.is_admin == "1"%>
                                <%
=begin%>
 <div class="mb-3">
                                  <%=render partial: "areas/new", locals: {empresa: @empresa, area: @empresa.areas.build}%> 
                                  <p class="form-label"><b>!Agrega un área a tu empresa!</b></p>
                                  <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#areaModal">
                                    Agregar área
                                  </button>
                                </div> 
<%
=end%>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                   </div>
              </div> 
        </div>
    </div>
  </div>
</div>
<% else %>
    <% redirect_back_or_to homes_example_url, notice: "No tienes ese permiso." %>
<% end %>
